<h1 align="center">LIsting all venue </h1>
<% @venue_found.each do |venue| %>
<%#= @venue_found.inspect %>
<!-- only venue admin can see their own venue_found -->
 <% if user_signed_in?%>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div>
          <%= link_to venue.title, welcome_path(venue) %>
      </div>
      <div>
         <%= truncate(venue.place, lenght:50) %>
          <div>
            <small>
            Created at
                <%= time_ago_in_words(venue.created_at) %> ago,
              Last updated at: <%= time_ago_in_words(venue.updated_at) %> ago. 
            </small>
          </div>
      </div>
     
      <div class="venue-actions">
        <%= link_to "book", welcome_path(venue) %> 
         <%= link_to "Show", check_path(venue) %> 
      </div> 
    <%end %>
    </div>
  </div>
</div> 
<% end %>

