	<div class="col-md-12">
	<ul class="list-group col-md-5 col-off-set-2">
  <li class="list-group-item alert alert-success"><strong>Name:</strong>  <%= @venue_detail.title %></li>
  <li class="list-group-item list-group-item-secondary"> <strong>City/town:</strong> <%=@venue_detail.place%></li>
  <li class="list-group-item list-group-item-secondary"><strong>Landmark:</strong>  <%=@venue_detail.landmark%></li>
  <li class="list-group-item list-group-item-secondary"><strong>  street address:</strong> <%=@venue_detail.street_address%></li>
  <li class="list-group-item list-group-item-secondary"><strong>contact number:</strong> <%=@venue_detail.contact_number%></li>
</ul>
</div>
<div id="venue-availability"></div>
   
  		
  	<%= form_tag check_availability_path, remote: true, method: :get, id: 'venue-availability-form', class: 'form-horizontal col-md-10' do %>
  		<%= hidden_field(:venue, params[:venue]) %>
  		 <div class="col-md-3"> 
          <%= label_tag :from %>
          <%= select_tag(:from,options_for_select(['9:00AM','10:00AM','11:00AM', '12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00AM','6:00PM','7:00PM','8:00AM','9:00PM','10:00PM']), class: 'form-control') %>
        </div>
         <div class="col-md-3"> 
          <%= label_tag :to %>
          <%= select_tag(:to,options_for_select(['',"9:00AM",'10:00AM','11:00AM', '12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00AM','6:00PM','7:00PM','8:00AM','9:00PM','10:00PM']), class: 'form-control') %>
        </div>
        <div class="col-md-3 ">
        <%= label_tag :On %> 
        <%= date_field_tag 'days' %>
        </div>
 	  	<div class=" col-md-1">
              
                <%= submit_tag "check", class: "btn btn-primary btn-sm"%>
              
          </div>

         <% end -%>

  	