<div class="col-md-12">
  <ul class="list-group col-md-5 col-off-set-2">
  <li class="list-group-item alert alert-success"><strong>Name:</strong>  <%= @venue_detail.title %></li>
  <li class="list-group-item list-group-item-secondary"> <strong>City/town:</strong> <%=@venue_detail.place%></li>
  <li class="list-group-item list-group-item-secondary"><strong>Landmark:</strong>  <%=@venue_detail.landmark%></li>
  <li class="list-group-item list-group-item-secondary"><strong>  street address:</strong> <%=@venue_detail.street_address%></li>
  <li class="list-group-item list-group-item-secondary"><strong>contact number:</strong> <%=@venue_detail.contact_number%></li>
</ul>
</div>

   </hr>
   <%=render'common/spinner' %>
  <%= form_tag check_path, method: :get, id: 'venue-availability-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
      <%= hidden_field_tag :venue_detail, @venue_detail.id %>
      </div>
      <div class="col-md-2">
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <span class=""> Check availability</span>
      <%end %>
      </div>
    </div>
  <% end %>
  
  <div id="venue-availability">
</div>
  

    