<h1>Edit existing article </h1>
<% if @venue.errors.any? %>
<h2>Following errors prevented venue from editing</h2>
  <ul>
    <% @venue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end %>
  </ul>
<%end %>
<%= form_for @venue do |f| %>
  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :place %></br>
    <%= f.text_area :place %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Back to venue listing", venues_path %>
